
.card-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}

.card-label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center; 
  }
  
  .card-label-second {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .input-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: none; 
  }
  

  .form-actions {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 15px; 
    padding-right: 10px; 
  }
  
  .form-actions button {
    padding: 10px 20px;
    margin-left: 10px; 
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }
  

  .cancel-button {
    background-color: white;
    border: 1px solid #000;
  }
  

  .accept-button {
    background-color: #1554e3;
    color: white;
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px; 
  }
  
  .column label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .column select {
    padding: 12px 15px; 
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
  }
  
  .column input {
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
  }