/* ModalArchivo.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    background-color: #fff;
    width: 600px;
    max-width: 90%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .modal-header h3 {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .custom-datepicker {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .dropzone {
    border: 2px dashed #ccc;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .dropzone:hover {
    border-color: #0a3d91;
  }
  
  .drop-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .browse-button {
    margin-top: 10px;
    background-color: #002f6c;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  .browse-button:hover {
    background-color: #001f4d;
  }
  
  .archivo-preview {
    margin-top: 20px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancelar {
    background-color: white;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .guardar {
    background-color: #002f6c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .guardar:hover {
    background-color: #001f4d;
  }
  