.sidebar {
    width: 250px;
    background-color: #3C48E1;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .logoContainer {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .logo {
    width: 180px;
    height: 100px;
    object-fit: contain;
  }
  
  .menuList {
    width: 100%;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  .activeMenuItem {
    background-color: #2B36A0;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    object-fit: contain;
  }
  
  .menuText {
    flex: 1;
    text-align: left;
  }
  
  .arrowIcon {
    margin-left: 15px;
  }
  
  .subMenuContainer {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .subMenuItem {
    display: block;
    padding: 8px 10px;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    color: white;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .activeSubMenuItem {
    background-color: #4F5DDA;
  }
  
  .logoutButton {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    width: 90%;
    border: none;
    background: none;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
  }
  