.driver-admin {
    padding: 20px;
  }
  
  .title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .toolbar {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .toolbar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  .toolbar select {
    padding: 10px;
    border-radius: 5px;
  }
  
  .table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px groove rgb(190, 190, 190);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  tbody td {
    font-size: 16px;
    color: #555;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
  }
  .icon-btn {
    cursor: pointer;
  }
  
  .icon-img {
    pointer-events: auto;
  }