.container {
    padding: 20px;
}

.trip-card {
    width: 35%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.trip-container {
    display: flex;
    align-items: center;
}

.trip-label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.trip-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(21, 84, 227, 1);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.input-group {
    margin-bottom: 15px;
}

.label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(21, 84, 227, 1);
}
