/* Estilos para el contenedor de filtros */
.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.small-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;;
}

.date-pickers {
    display: flex;
    align-items: center;
    margin-right: 20px;  
}

.date-pickers .react-datepicker-wrapper {
    margin-right: 10px;  
}

.filters button {
    margin-left: 10px;
}

.my-custom-datepicker-popper {
  z-index: 10 !important; /* O un valor mayor que el z-index del sticky header (que es 2).
                             El !important es para asegurar que sobreescriba otros estilos si es necesario,
                             pero úsalo con precaución. Prueba primero sin !important. */
}