/* Estilos para el contenedor de filtros */
.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.small-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;;
}

.date-pickers {
    display: flex;
    align-items: center;
    margin-right: 20px;  
}

.date-pickers .react-datepicker-wrapper {
    margin-right: 10px;  
}

.filters button {
    margin-left: 10px;
}
