/* TripScreen.css */

.trip-screen-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: stretch;
 
}

.trip-screen-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.trip-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 25%;
}

.trip-container {
  display: flex;
  flex-direction: column;
}

.trip-label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 35px;
}

.trip-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.button-container {
  display: flex;
  gap: 10px;
}


.button-container button {
  background-color: #f0f0f0; 
  border: 1px solid #ccc;    
  padding: 10px 20px;       
  margin: 0 8px;           
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;       /
}

.button-container button:hover {
  background-color: #1554e3; 
  border-color: #9aa9b9;    
  color: white;
}

/* Estilo para el botón que está activo/seleccionado */
.button-container button.selected {
  background-color: #1554e3; 
  border-color: #9aa9b9;    
  color: white; 
}

/* Estilos para la nueva card */
.additional-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.additonal-trip-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  padding-right: 10px;
}

.additonal-trip-actions button {
  padding: 10px 20px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-color: white;
  background-color: #1554e3;

}