/* TripScreen.css */

.trip-screen-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: stretch;
  /* Make additional card take full width */
}

.trip-screen-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.trip-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.trip-container {
  display: flex;
  flex-direction: column;
}

.trip-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.trip-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  padding: 10px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Estilos para la nueva card */
.additional-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.additonal-trip-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  padding-right: 10px;
}

.additonal-trip-actions button {
  padding: 10px 20px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-color: white;
  background-color: #1554e3;

}