.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.mainContainer {
  flex: 1;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
